.App {
  text-align: center;
}

.App-header {
  background-color:#4469B0;
  padding: 0.1rem;
  color: white;
}

.App-link {
  color: white;
  text-decoration: none;
}

.App-title {
  font-size: 1em;
  animation: App-title-spin infinite 3s ease-in-out;
}

@keyframes App-title-spin {
  0% { transform: scale(0.5); }
  50% { transform: scale(1.5); }
  100% { transform: scale(0.5); }
}
